
@if (User.Identity.Name == "admin@mail.ru")
{
    <li>@Html.ActionLink("Управление", "AdminPage", "Home")</li>
    @*<li>@Html.ActionLink("Что-то", "Index", "ClientPets")</li>
        <li>@Html.ActionLink("и еще что-то", "Index", "Receptions")</li>*@
}

else
{
    if (User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Мой кабинет", "UsOffice", "Clients")</li>
        <li>@Html.ActionLink("Мои питомцы", "Index", "ClientPets")</li>
        <li>@Html.ActionLink("Мои записи", "Index", "Receptions")</li>
        <li>@Html.ActionLink("Врачи и клиники", "ListForClient", "Doctors")</li>
    }
    else
    {
        <li>@Html.ActionLink("О программе", "About", "Home")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    }

}
