@model IEnumerable<MorePractice.Kind>

@{
    ViewBag.Title = "Список родов";
}

<h2>Список родов</h2>

<p>
    @Html.ActionLink("Добавить род", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Род питомца")
        </th>
        @*<th>
            @Html.DisplayName("Класс питомца")
        </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetKind)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Class.PetClass)
            </td>*@
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Детали", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
     }

</table>
