@using Microsoft.AspNet.Identity

@model MorePractice.Pet

@{
    ViewBag.Title = "Редактирование питомца";
}

<h2>Редактирование питомца</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Питомец</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.EditorFor(model => model.OwnerID, new { htmlAttributes = new { @class = "text-danger", @type = "hidden", @Value = ViewBag.ClientId } })

        <div class="form-group">
            @Html.Label("Кличка", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Дата рождения", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Статус обслуживания", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsServiced)
                    @Html.ValidationMessageFor(model => model.IsServiced, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Порода", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_Species", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Species, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (User.Identity.GetUserName() == "admin@mail.ru")
{
    @Html.ActionLink("Назад к списку записей", "Index");
}
else
{
    @Html.ActionLink("Назад к списку записей", "Index", "ClientPets");
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
