@model MorePractice.Pet

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>Клиент и питомец</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Питомец")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>

        <dt>
            @Html.DisplayName("Имя клиента")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия клиента")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад к списку связей", "Index")
</p>
