@model IEnumerable<MorePractice.Pet>

@{
    ViewBag.Title = "Список питомцев";
}

<h2>Мои питомцы</h2>

<p>
    @Html.ActionLink("Добавить питомца", "Create", new { controller = "Pets", clientId = ViewBag.ClientId })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Питомец")
        </th>
        <th>
            @Html.DisplayName("Вид")
        </th>
        <th>
            @Html.DisplayName("Порода")
        </th>
        <th>
            @Html.DisplayName("Дата рождения")
        </th>
        <th>
            @Html.DisplayName("Статус обслуживания")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
     {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.Kind.PetKind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.PetSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsServiced)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { controller = "Pets", id = item.ID }) |
            @Html.ActionLink("Детали", "Details", new { controller = "Pets", id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { controller = "Pets", id = item.ID })
        </td>
    </tr>
     }
</table>
